*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;

}
ul{
    list-style: none;
    width: 200px;
    height: 500px;
}
ul > li > ul{
    display: none;

}
ul > li:hover > ul{
    display: block;
    height: 100%;
}
.opcion{
    background: red;
    color: black;
}
.subOpcion{
    padding-left: 20px;
    background: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}