* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.caja {
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}
.container {
  height: 100%;
}
